# This file configures Lombok project-wide settings

# Add @java.lang.SuppressWarnings("all") to all generated code
lombok.addSuppressWarnings = true

# Use @lombok.Generated annotation on all generated methods/constructors
# This helps code coverage tools ignore generated code
lombok.addLombokGeneratedAnnotation = true

# Don't call super.toString() in generated toString() methods
lombok.toString.callSuper = skip

# Include field names in generated toString() output
lombok.toString.includeFieldNames = true

# Don't use chained accessors by default (can be overridden per class)
lombok.accessors.chain = false

# Use ENGLISH locale for generated code
lombok.fieldNameConstants.uppercase = true

# Add @NonNull checks in generated setters/constructors
lombok.nonNull.exceptionType = IllegalArgumentException

# Stop Lombok from looking in parent directories for config files
config.stopBubbling = true